In [1]:
import pandas as pd
import xlrd

In [9]:
excel_file = pd.read_excel("users/excel/examples.xlsx")

In [44]:
excel_file.to_csv("users/csv/examples.csv")

In [2]:
df = pd.read_csv("users/csv/examples.csv")

In [3]:
df.head()

,Unnamed: 0,UserId,Password,Tier2,General,Intra Company Transfer,Sports people,Ministers of Religion,Tier4,General.1,...,Religious Workers,Charity Workers,Seasonal Workers,SLN,OrgName,Address,City,Country,Postcode,Telephone
0,0,iG5P3ZE,qwerty1,+,0,1,0,1,+,0,...,0,0,0,0,Ruslan,I want to break free from your lies you're so ...,Manchester,0,SE21 8RE,441234567890

In [4]:
to_del = list(filter(lambda x: x.find("Unnamed")==0,list(df.columns)))

In [5]:
df.drop(to_del, axis='columns', inplace=True)

In [30]:
df

,UserId,Password,Tier2,General,Intra Company Transfer,Sports people,Ministers of Religion,Tier4,General.1,Child,...,Religious Workers,Charity Workers,Seasonal Workers,SLN,OrgName,Address,City,Country,Postcode,Telephone
0,iG5P3ZE,qwerty1,+,0,1,0,1,+,0,1,...,0,0,0,0,Ruslan,I want to break free from your lies you're so ...,Manchester,0,SE21 8RE,441234567890

In [31]:
tier2n = (list(df.iloc[0]["Tier2":"Tier4"]))
tier2 = tier2n[1:len(tier2n)-1]
tier4n =(list(df.iloc[0]["Tier4":"Tier5"]))
tier4 = tier4n[1:len(tier4n)-1]
tier5n =(list(df.iloc[0]["Tier5":"SLN"]))
tier5 = tier5n[1:len(tier5n)-1]
print(tier2)
print(tier4)
print(tier5)

[0, 1, 0, 1]
[0, 1]
[1, 1, 1, 0, 0, 0]

In [19]:
all_names = list(df.columns)
tier2_names = all_names[all_names.index("Tier2")+1:all_names.index("Tier4")]
tier4_names = all_names[all_names.index("Tier4")+1:all_names.index("Tier5")]
tier5_names = all_names[all_names.index("Tier5")+1:all_names.index("SLN")]

In [20]:
print(tier2_names, tier4_names, tier5_names)

['General', 'Intra Company Transfer', 'Sports people', 'Ministers of Religion'] ['General.1', 'Child'] ['Creative and Sporting', 'Government Authorised Exchange', 'International Agreement', 'Religious Workers', 'Charity Workers', 'Seasonal Workers']

In [32]:
for i in range(len(tier5)):
    if tier5[i] == 1:
        print(tier5_names[i])

Creative and Sporting
Government Authorised Exchange
International Agreement

In [37]:
tier4_names = list(map(lambda x: x if x.find(".1")==-1 else x[:x.find(".1")], tier4_names))

In [38]:
yes

['General', 'Child']

In [39]:
df.iloc[0]["SLN"]

0

In [40]:
names_secp = all_names[all_names.index("SLN")+1:]

In [41]:
names_secp

['OrgName', 'Address', 'City ', 'Country', 'Postcode', 'Telephone']

In [42]:
df.iloc[0][names_secp[0]]

'Ruslan'

In [44]:
for i in range(len(names_secp)):
    fillf = names_secp[i]
    info = df.iloc[0][fillf]
    print(fillf)
    print(info)

OrgName
Ruslan
Address
I want to break free from your lies you're so self-satisfied, I don't need you
City
Manchester
Country
0
Postcode
SE21 8RE
Telephone
441234567890